body {
	font-family: 'Corbel', sans-serif;
	font-size: 16px;
}

.container{
	padding: 100px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Amatic SC', 'Corbel', sans-serif;
}

h3 {
	text-align: center;
	font-size: 30px;
	font-family: 'Amatic SC', 'Corbel', sans-serif;
}

a {
	color: #6ba6b8;
	opacity: 0.86;
	font-size: 18px;
}

a:hover {
	color: #7FBD6F;
	opacity: 1;
}

img {
	display: inline-block;
	vertical-align: middle;
}

select, select:hover, select:focus {
	width: 200px;
}

path {
	cursor: pointer; 
}

.row {
	margin: auto;
}

.col-md-8 rect {
	fill: #fad89e;
}

.col-md-8 rect, path {
	opacity: 0.86;
}

.col-md-8 rect:hover, path:hover {
	opacity: 1;
}

#left-col {
	margin: 120px auto;
}

@media only screen and (max-width: 900px) {
	.container {
		padding: 50px 20px;
	}

	#left-col {
		margin: auto;
		margin-bottom: 60px;
	}
}